body {
  background-color: maroon;
}
.row {
  border-style: solid;
  border-color: text-primary;
  border-width: 1px;
  border-radius: 10px;
  margin: 50px 15% 5px 15%;
  color: silver;
  max-height: 50%;
  line-height: 275%;
}

